HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Node project ###
# dependencies
e2e/node_modules
e2e/.pnp
e2e/.pnp.js

# testing
e2e/coverage

# production
e2e/build

# misc
e2e/.DS_Store
e2e/.env.local
e2e/.env.development.local
e2e/.env.test.local
e2e/.env.production.local

e2e/npm-debug.log*
e2e/yarn-debug.log*
yarn-error.log*